@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <div class="container body-content">
        <main>
            @Body
        </main>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</div>