@page "/about"

<PageTitle>About</PageTitle>

<main aria-labelledby="title">
    <h2 id="title">About.</h2>
    <h3>Your application description page.</h3>
    <p>Use this area to provide additional information.</p>
</main>